

.bullshitcontainer {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 600px;
}

.bullshit {
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: rgba(225,225,225,.7);
    width: 500px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid black;
}