/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}
/* Reading/Spread Styles */
.card-face{
    width: 7rem;
    margin: 30px, 30px, 30px, 30px;
    justify-content:center;
}

.reading-container{
    display: flex;
    flex-direction: row;
    
}
.left-reading-container{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
}
.right-reading-container {
    width: 30%;
    min-height: 100%;
    max-height: 100%;
    
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

#card-0{
    position:relative;
    left: 30%;
    top: 30%;
    z-index:-1; 
}

#card-1{
    position: relative;
    left: 30%;
    top: 4%;
   
}

#card-2 {
    position:relative;
    left: 30%;
    bottom: 25%;
    transform: rotate(90deg);
    z-index: 2;
}

.right-reading-card-holder img {
    position: relative;
    left: 30%;
}

.top-left-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    transform:translateY(100px);
    
}
.middle-left-container {
    height: 30%;
    display: flex;
    flex-direction:row;
   
}
.bottom-left-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    transform: translateY(-100px);
}
.middle-middle-left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    
}
.middle-middle-middle{
    
    width: 33%;
    display: flex;
    flex-direction: column;

}
.middle-middle-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    
}








/*.reading-container{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px;
    grid-template-rows:100px 100px 100px 100px 100px;
    grid-gap: 20px
}
.card-0 {
    border: solid 1px red;
    grid-column-start: 4;
    grid-column-end: span 1;
    grid-row-start: 3;
    grid-column-end: span 1;
  
    
    
}
.card-1 {
    border: solid 1px orange;
    grid-column-start: 4;
    grid-column-end: span 1;
    grid-row-start: 3;
    grid-column-end: span 1;
}
.card-2 {
    border: solid 1px yellow;
    grid-column-start: 4;
    grid-column-end: span 1;
    grid-row-start: 3;
    grid-column-end: span 1;
}
.card-3 {
    border: solid 1px green;
    grid-column-start: 4;
    grid-column-end: span 1;
    grid-row-start: 5;
    grid-column-end: span 1;
}
.card-4 {
    border: solid 1px blue;
    grid-column-start: 4;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-column-end: span 1;
}
.card-5 {
    border: solid 1px violet;
    grid-column-start: 6;
    grid-column-end: span 1;
    grid-row-start: 3;
    grid-column-end: span 1;
}
.card-6 {
    border: solid 1px red;
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 3;
    grid-column-end: span 1;
}
.card-7 {
    border: solid 1px orange;
    grid-column-start: 7;
    grid-column-end: span 1;
    grid-row-start: 5;
    grid-column-end: span 1;
    
    
}
.card-8 {
    border: solid 1px yellow;
    grid-column-start: 7;
    grid-column-end: span 1;
    grid-row-start: 4;
    grid-column-end: span 1;
   
}
.card-9 {
    border: solid 1px green;
    grid-column-start: 7;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-column-end: span 1;
}
.card-10 {
    border: solid 1px blue;
    grid-column-start: 7;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-column-end: span 1;
}*/