/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
.titleDiv{
    display:flex;
    flex-direction: column;
    align-content:center;
    background-color: rgba(225,225,225,.7);
    width: 250px;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    left: 6%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-image: url(/img/Wood-Grain-Background-1.jpg);
  background-position: center;
  
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}
/* Reading/Spread Styles */
.card-face {
    width: 7rem;
    margin: 30px, 30px, 30px, 30px;
    justify-content: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    background-color: white;
    transition: 0.2s;
}

    .card-face:hover {
        box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
        transform: scale(1.5);
        z-index: 100 !important;
    }

.reading-container{
    display: flex;
    flex-direction: row;
    margin-top: -120px;
    z-index:0;
    position: relative;
    
}
.titleInner{
    display: flex;
    justify-content: center;
}
.spreadCommentLink{
    z-index:5;
    position: relative;
}
.left-reading-container{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
}
.right-reading-container {
    width: 30%;
    min-height: 100%;
    max-height: 100%;
    
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    
}

.card-column-right {
    margin-top: 10px;
    margin-bottom: 10px;
}

#card-0{
    position:relative;
    left: 30%;
    top: 30%;
    z-index: 1; 
}

#card-1{
    position: relative;
    left: 30%;
    top: 4%;
    z-index: 2;
   
}

#card-2 {
    position:relative;
    left: 30%;
    bottom: 25%;
    transform: rotate(90deg);
    z-index: 3;
}

    #card-2:hover {
        transform: scale(1.5);
    }

.invert {
    transform: rotate(180deg);
}

.right-reading-card-holder img {
    position: relative;
    left: 30%;
}

.top-left-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    transform:translateY(140px);
    
}
.middle-left-container {
    height: 30%;
    display: flex;
    flex-direction:row;
   
}
.bottom-left-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    transform: translateY(-135px);
}
.middle-middle-left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    
}
.middle-middle-middle{
    
    width: 33%;
    display: flex;
    flex-direction: column;

}
.middle-middle-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    
}

#menuToggle {
    display: block;
    position: relative;
    top: 50px;
    left: 50px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

    #menuToggle input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
        cursor: pointer;
        opacity: 0; /* hide this */
        z-index: 2; /* and place it over the hamburger */
        -webkit-touch-callout: none;
    }

    /*
 * Just a quick hamburger
 */
    #menuToggle span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: #cdcdcd;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;
    }

        #menuToggle span:first-child {
            transform-origin: 0% 0%;
        }

        #menuToggle span:nth-last-child(2) {
            transform-origin: 0% 100%;
        }

    /* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
    #menuToggle input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #232323;
    }

        /*
 * hide the middle one.
 */
        #menuToggle input:checked ~ span:nth-last-child(3) {
            opacity: 0;
            transform: rotate(0deg) scale(0.2, 0.2);
        }

        /*
 * Ohyeah and the last one should go the other direction
 */
        #menuToggle input:checked ~ span:nth-last-child(2) {
            transform: rotate(-45deg) translate(0, -1px);
        }

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

    #menu li {
        padding: 10px 0;
        font-size: 22px;
    }

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
    transform: none;
}

.card-container {
    cursor: pointer;
    height: 250px;
    perspective: 600;
    position: relative;
    width: 150px;
    display: flex;
    justify-content:center;
    align-content:center;
    margin: 10px;
}
.spreadsTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: rgba(225,225,225,.7);
    width: 300px;
    padding: 20px;
    border-radius: 5px;
   
}

.card {
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: all .5s ease-in-out;
    width: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    
}
.display{
    display:flex;
    flex-direction:column;

}
.mySpreads
{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    justify-content: space-between;
    padding: 30px;
    
}
.cardz {
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: all .5s ease-in-out;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .card:hover {
        transform: rotateY(180deg);
    }

    .card .side {
        backface-visibility: hidden;
        border-radius: 6px;
        height: 100%;
        position: absolute;
        overflow: hidden;
        width: 100%;
    }

    .card .back {
        background: #eaeaed;
        color: black;
        font-size: 1em;
        line-height: 150px;
        text-align: center;
        transform: rotateY(180deg);
        display: flex;
        flex-flow: column;
    }