@{
    ViewData["Title"] = "Home Page";
}
    <div class="homediv">
        <div class="text-center">
            <div > TarOh!</div>
            <div id="subline">explore new Tarot-tories... </div>
            <div id="subsubline">(click 'reading' to begin your adventure)</div>
        </div>
    </div>
